@use '../vars/vars' as v;
@use '../mixins/mixins' as m;
@use '../utils/placeholders/buttons/button' as *;

h1, .h1, h2, .h2, h3, .h3,
h4, .h4, h5, .h5, h6, .h6 {
  font-family: v.$ff;
  font-weight: v.$fw-bold;
  margin: 0;
  padding: 0;
}

h1,.h1 {
  color: v.$white;
  font-size: 19px;
  line-height: 20px;

  @include m.media(lg) {
    font-size: 26px;
    line-height: 28px;
  }

  @include m.media(xl) {
    font-size: 40px;
    line-height: 44px;
  }
}

p,a,div,span,strong,b,button,li {
  font-family: v.$ff;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: opacity ease v.$tr;

  &:hover {
    opacity: v.$op;
  }
}

p {
  margin: 0;
  padding: 0;
}

button {
  @extend %button;
}

b,
strong {
  font-weight: v.$fw-bold
}