@use '../vars/vars' as v;
@use '../mixins/mixins' as m;
@use '../utils/placeholders/buttons/button' as *;

h1, .h1, h2, .h2, h3, .h3,
h4, .h4, h5, .h5, h6, .h6 {
  font-family: v.$ff;
  font-weight: v.$fw-bold;
  margin: 0;
  padding: 0;
}

p,a,div,span,strong,b,button {
  font-family: v.$ff;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: opacity ease v.$tr;

  &:hover {
    opacity: v.$op;
  }
}

p {
  margin: 0;
  padding: 0;
}

button {
  @extend %button;
}

b,
strong {
  font-weight: v.$fw-bold
}