<div class="pagination">
    <div class="pagination-controls">
        <button class="begin">
            <img src="/img/double.svg" alt="Векторные стрелки">
        </button>
        <button class="prev">
            <img src="/img/single.svg" alt="Векторные стрелки">
        </button>
    </div>
    <div class="pagination-pages">
        <button class="page">
            1
        </button>
        <button class="page">
            2
        </button>
        <button class="page">
            3
        </button>
        <span class="dots">...</span>
        <button class="page">
            99
        </button>
    </div>
    <div class="pagination-controls">
        <button class="end">
            <img src="/img/single.svg" alt="Векторные стрелки">
        </button>
        <button class="forward">
            <img src="/img/double.svg" alt="Векторные стрелки">
        </button>
    </div>
</div>