// Grid.
$xs	: 375px;
$sm	: 480px;
$md	: 768px;
$lg	: 1024px;
$xl: 1400px;
$xxl: 1500px;

// Container vars.
$container-padding : 32px;
$container-width   : 1400px;
$max-width         : $container-width + ($container-padding * 2); 