@use "../vars/vars" as v;
@use "../mixins/mixins" as m;

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


.dark-layer {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  border-radius: inherit;
}

.accessibility-on {
  [data-bold] {
    font-weight: v.$fw-bold !important;
  }

  .dark-layer {
    display: block;
  }

  .button {
    font-weight:  v.$fw-extra;
  }

  .header {
    .menu li a {
      color: v.$blue;
    }

    &-logo {
      img {
        filter: hue-rotate(300deg);
      }
    }
  }

  .footer {
    .footer-logo {
      img {
        filter: hue-rotate(300deg);
      }
    }

    ul li {
      a,p,address {
        font-size: 16px;
        font-weight: v.$fw-semibold;

        @include m.media(xl) {
          font-size: 18px;
        }
      }
    }

    .footer-info {
      p, .copyright {
        font-size: 16px;
        font-weight: v.$fw-semibold;

        @include m.media(xl) {
          font-size: 18px;
        }
      }
    }
  }

  .breadcrumbs {
    a, .current {
      font-weight: v.$fw-bold;
    }
  }
}