@use "../../vars/vars" as v;

.dark-layer {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  border-radius: inherit;
}

.accessibility-on {
  [data-bold] {
    font-weight: v.$fw-bold !important;
  }

  .dark-layer {
    display: block;
  }
  //hero
  .button {
    font-weight:  v.$fw-extra;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
