@use '../../../../../scss/vars/vars' as v;
@use '../../../../../scss/mixins/media' as m;

.contacts {
  &-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 59px;

    @include m.media(lg) {}

    @include m.media(xl) {}
  }

  h1 {
    color: v.$dark;
  }
}